<div class="animated fadeIn m-5">
  <h1>Crear Servicio</h1>
<hr>

<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger"
              routerLink="/listaServicios">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<div class="row animated fadeIn faster">
  <div class="col">

    <form (ngSubmit)="guardar( f )"
          #f="ngForm">
      
      <div class="form-group">
        <label>Firebase ID</label>
        <input  type="text"
                class="form-control"
                placeholder="Firebase ID"
                [(ngModel)]="servicio.id"
                name="id"
                disabled="disabled">
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>

      <div class="form-group">
        <label>Nombre del servicio</label>
        <input  type="text"
                class="form-control"
                placeholder="Nombre del servicio"
                [(ngModel)]="servicio.nombreServicio"
                name="nombreServicio"
                required>
      </div>

      <div class="form-group">
        <label>Imagen</label>
        <input  type="text"
                class="form-control"
                placeholder="Enlace imagen"
                [(ngModel)]="servicio.imagen"
                name="imagen"
                required>
      </div>

      <div class="form-group">
        <label>Descripcion</label>
        <input  type="text"
                class="form-control"
                placeholder="Descripcion"
                [(ngModel)]="servicio.descripcion"
                name="descripcion"
                required>
      </div>

      <div class="form-group">
        <label>Precio por minuto</label>
        <input  type="text"
                class="form-control"
                placeholder="Precio por minuto"
                [(ngModel)]="servicio.precioMinuto"
                name="precioMinuto"
                required>
      </div>

      <hr>

      <div class="form-group text-center">
        <button type="submit"
                class="btn btn-primary w-25">
        
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div>


    </form>


  </div>
</div>