<div class="m-5">
  <h1>Lista de servicios</h1>
  <hr>

  <button type="button" class="btn btn-primary btn-lg" routerLink="/agregarServicio/nuevo">
    <i class="fa fa-plus"></i>
    Agregar
  </button>
</div>

<div class="card-columns m-5 animated fadeIn" >
  <div class="card" *ngFor="let servicio of servicios; let i = index">
    <img [src]="servicio.imagen" class="card-img-top" alt="Card image Cap">
    <div class="card-body">
      <h5 class="card-title">{{ servicio.nombreServicio }}</h5>
      <p class="card-text">{{ servicio.descripcion }}</p>
      <p class="card-text"><small class="text-muted">${{ servicio.precioMinuto }}</small></p>

            
      <button class="btn btn-info btn-lg mr-1 w-50"
              [routerLink]="['/agregarServicio', servicio.id]">
        <i class="fa fa-gear"></i>
        Cambiar
      </button>

      <button class="btn btn-danger btn-lg"
              (click)="borrarServicio( servicio, i )">
        <i class="fa fa-trash-o"></i>
        Borrar
      </button>

    </div>
  </div>
</div>