<div class="container main-container animated fadeIn fast">

  <h1>Afiliado <small>{{ afiliado.Nombre }} {{ afiliado.Apellido }}</small></h1>

  <div class="row">
    <div class="col-md-5">
      <img [src]="afiliado.fotoPerfil" alt="Card image Cap"
            class="img-thumbnail img-fluid">
    </div>

    <div class="col-md-7">
      <div class="row text-right">
        <div class="col">
          <button class="btn btn-danger"
                    routerLink="/listaAfiliado">
            <i class="fa fa-arrow-left"></i>
            Regresar
          </button>
        </div>
      </div>

      <h3>Datos personales</h3>
      <hr>
      <p>
        <i class="fa fa-phone"></i>
        {{ afiliado.Telefono }}
      </p>

      <p>
        <i class="fa fa-star"></i>
        {{ afiliado.Calificacion }}
      </p>

      <p>
        <i class="fa fa-birthday-cake"></i>
        {{ afiliado.FechaNacimiento }}
      </p>
      <p>
        <i class="fa fa-map-marker"></i>
        {{ afiliado.Direccion }}
      </p>
      <p>
        <i class="fa fa-id-card-o"></i>
        {{ afiliado.Correo }}
      </p>

      <h4>Areas de conocimiento</h4>
      <p>
        <span class="badge badge-info">{{ afiliado.Habilidad }}</span>
      </p>

      <button class="btn btn-outline-danger w-50" type="submit"
              (click)="borrarAfiliado( afiliado )">
        <i class="fa fa-remove"></i>
        Eliminar afiliado
      </button>

    </div>
  </div>
</div>
