<div class="container main-container animated fadeIn fast">

  <h1>Afiliado <small>Jhair Cespedes</small></h1>

  <div class="row">
    <div class="col-md-5">
      <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGDc8IKjAyTgA/profile-displayphoto-shrink_800_800/0?e=1590624000&v=beta&t=yfSbpTIj3T6KibvF5j5Xwm8MR_jrmSk-NCUR1WHtKss" alt="Card image Cap"
            class="img-thumbnail img-fluid">
    </div>

    <div class="col-md-7">

      <div class="row text-right">
        <div class="col">
          <button class="btn btn-danger"
                    routerLink="/listaAfiliado">
            <i class="fa fa-arrow-left"></i>
            Regresar
          </button>
        </div>
      </div>

      <h3>Quién soy</h3>
      <hr>
      <p class="text-justify">
        Soy una persona inteligente, orientación al servicio, me gusta apoyar a la gente
      </p>

      <h4>Datos personales</h4>
      <p>
        Dirección: asdfasdfasdf
        asdfasd: asdfasd
      </p>

      <p>
        Calificación: <span class="badge badge-info">4.57</span>
      </p>

      <button class="btn btn-outline-danger w-50" type="submit">
        <i class="fa fa-remove"></i>
        Eliminar afiliado
      </button>


      

    </div>
  </div>
</div>
