<div class="m-5">
  <h1>Lista de candidatos</h1>
  <hr>
</div>

<div class="card-columns m-5 animated fadeIn">
  <div class="card" *ngFor="let afiliado of afiliados">
    <figure *ngIf="!afiliado.estado">
      <img class="card-img-top" [src]="afiliado.fotoPerfil" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ afiliado.Nombre }} {{ afiliado.Apellido }}</h5>
        <p class="card-text">{{ afiliado.Correo }}</p>
        <button  type="button" class="btn btn-primary btn-block"
                 [routerLink]="['/informacionCandidato', afiliado.id]">
          Ver más...
        </button>
      </div>
    </figure>
  </div>
</div>