<div class="m-5">
  <h1>Lista de candidatos</h1>
  <hr>
</div>

<div class="card-columns m-5 animated fadeIn">
  <div class="card">
    <img src="https://yt3.ggpht.com/a/AGF-l78-5O1-eDqTfBHLroB2ToED4dXqgtO0dPHXYg=s900-c-k-c0xffffffff-no-rj-mo" class="card-img-top" alt="Card image Cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>      
      
      <button type="button" class="btn btn-primary btn-block" (click)="verCandidato()">Ver más...</button>


    </div>
  </div>
  
</div>