<div class="container main-container animated fadeIn fast">

  <h1>Hernán Ramirez</h1>

  <div class="row">
    <div class="col-md-5">
      <img src="https://yt3.ggpht.com/a/AGF-l78-5O1-eDqTfBHLroB2ToED4dXqgtO0dPHXYg=s900-c-k-c0xffffffff-no-rj-mo" alt="Card image Cap"
            class="img-thumbnail img-fluid">
    </div>

    <div class="col-md-7">

      <div class="row text-right">
        <div class="col">
          <button class="btn btn-danger"
                    routerLink="/home">
            <i class="fa fa-arrow-left"></i>
            Regresar
          </button>
        </div>
      </div>

      <h3>Quién soy</h3>
      <hr>
      <p class="text-justify">
        Soy una persona inteligente, orientación al servicio, me gusta apoyar a la gente
      </p>

      <h4>Datos personales</h4>
      <p>
        Dirección: asdfasdfasdf
      </p>
      <p>
        <i class="fa fa-phone"></i>
      </p>
      <p>
        Calificación: <span class="badge badge-info">4.57</span>
      </p>

      <button class="btn btn-outline-success w-50" type="submit">
        <i class="fa fa-check"></i>
        Aceptar
      </button>

      <button class="btn btn-outline-danger w-50" type="submit">
        <i class="fa fa-remove"></i>
        Rechazar
      </button>

      

    </div>
  </div>
</div>