<div class="container main-container animated fadeIn fast">

  <h1>Candidato <small>{{ afiliado.Nombre }} {{ afiliado.Apellido }}</small></h1>

  <div class="row">
    <div class="col-md-5">
      <img [src]="afiliado.fotoPerfil" alt="Card image Cap"
            class="img-thumbnail img-fluid">
    </div>

    <div class="col-md-7">

      <div class="row text-right">
        <div class="col">
          <button class="btn btn-danger"
                    routerLink="/home">
            <i class="fa fa-arrow-left"></i>
            Regresar
          </button>
        </div>
      </div>

      <h3>Datos personales</h3>
      <hr>
      <p>
        <i class="fa fa-phone"></i>
        {{ afiliado.Telefono }}
      </p>
      <p>
        <i class="fa fa-birthday-cake"></i>
        {{ afiliado.FechaNacimiento | date }}
      </p>
      <p>
        <i class="fa fa-map-marker"></i>
        {{ afiliado.Direccion }}
      </p>
      <p>
        <i class="fa fa-id-card-o"></i>
        {{ afiliado.Cedula }}
      </p>

      <h4>Areas de conocimiento</h4>
      <p>
        <span class="badge badge-info" *ngFor="let item of afiliado.Habilidad">{{ item }}</span>
      </p>

      <button class="btn btn-outline-success w-50" type="submit" (click)="actualizarCandidato( afiliado )">
        <i class="fa fa-check"></i>
        Aceptar
      </button>

      <button class="btn btn-outline-danger w-50" type="submit" (click)="borrarCandidato( afiliado )">
        <i class="fa fa-remove"></i>
        Rechazar
      </button>

      

    </div>
  </div>
</div>