<div class="m-5">
  <h1>PQRS y comentarios</h1>
  <hr>
</div>

<table class="table m-4  animated fadeIn">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Tipo</th>
      <th scope="col">Mensaje</th>
      <th scope="col">Herramienta</th>
    </tr>
  </thead>

  <tbody *ngFor="let pqrs of pqrss; let i = index">
    <tr *ngIf="pqrs.nombre">
      <th>{{ pqrs.nombre }}</th>
      <td>{{ pqrs.apellido }}</td>
      <td>{{ pqrs.tipo }}</td>
      <td>{{ pqrs.mensaje }}</td>
      <td>
        <button class="btn btn-danger"
                (click)="borrarPqrs( pqrs, i )">
          <i class="fa fa-trash-o"></i>
        </button>
      </td>
      
    </tr>
  
  </tbody>

</table>

<table class="table m-4  animated fadeIn">

  <thead class="thead-dark">
    <tr>
      <th scope="col">Quien</th>
      <th scope="col">Rol</th>
      <th scope="col">Para quien</th>
      <th scope="col">Rol</th>
      <th scope="col">Mensaje</th>
      <th scope="col">Herramienta</th>
    </tr>
  </thead>

  
  <tbody *ngFor="let pqrs of pqrss; let i = index">
    <tr *ngIf="pqrs.nombreUsuario">
      <th *ngIf="pqrs.quien == 'afiliado'">{{ pqrs.nombreAfiliado }}</th>
      <th *ngIf="pqrs.quien == 'usuario'"> {{ pqrs.nombreUsuario }} </th>
      
      <td> {{ pqrs.quien }} </td>

      <td *ngIf="pqrs.quien == 'afiliado'"> {{ pqrs.nombreUsuario }} </td>
      <td *ngIf="pqrs.quien == 'usuario'"> {{ pqrs.nombreAfiliado }} </td>

      <td *ngIf="pqrs.quien == 'afiliado'"> usuario </td>
      <td *ngIf="pqrs.quien == 'usuario'"> afiliado </td>
      <td> {{ pqrs.mensaje }} </td>
      <td> 
        <button class="btn btn-danger"
                (click)="borrarPqrs( pqrs, i )">
          <i class="fa fa-trash-o"></i>
        </button>
      </td>
    </tr>
  </tbody>

</table>
